@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slideright {
  animation: 20s slideright infinite linear;
}
.slideleft {
  animation: 10s slideleft infinite linear;
}
.slidemdright {
  animation: 20s slideyright infinite linear;
}
.slidemdleft {
  animation: 10s slideyleft infinite linear;
}
@keyframes slideleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideyleft {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes slideyright {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
